<template>
  <div class="join-page">
    <transition name="size">
      <form class="join-form" @submit.prevent="joinForm">
        <transition name="fade">
          <div class="error" v-if="error" @click="error = null">{{error}}</div>
        </transition>
        <input v-model.trim="username" type="text" placeholder="Username" required>
        <button :disabled="username.length < 5">Join</button>
      </form>
    </transition>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
  data: () => ({
    username: '',
    error: undefined
  }),
  methods: {
    ...mapActions(['join']),
    joinForm() {

      if (this.username.length < 5) return false
    
      this.join({
        username: this.username, 
        uniq: this.getUniqId(),
        component: this
      })

    },
    
    getUniqId() {
      
      return Math.floor(Math.random() * 7777777)
 
    }
  }
}
</script>


<style lang="scss" scoped>
  .join-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #D74177, #FFE98A);

    .join-form {
      transition: .3s;
      width: 500px;
      padding: 50px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 0 30px -2px rgba(0, 0, 0, .3);
      border-radius: 6px;
      background: white;

      &:hover {
        box-shadow: 1px 0 40px -1px rgba(0, 0, 0, .4);
      }
      
      // &:not(:last-child) {
      //   margin-bottom: 20px;
      // }
      input, button, .error {
        margin-bottom: 20px;
        transition: .3s;
        outline: none;
        border-radius: 6px;
        border: 1px solid #eee;
        padding: 20px;
        width: 100%;
        display: block;
        font-size: 30px;
        

        &:focus {
          border: 1px solid #ccc;
        }
      }

      button {
        margin: 0;
        cursor: pointer;
        background: rgba(65, 215, 119, .3);

        // &:active {
        //   background: rgba(65, 215, 119, .3);
        // }
      }

      .error {
        cursor: pointer;
        user-select: none;
        font-size: 22px;
        background: rgba(230, 120, 121, .4)
      }
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  // .size-enter-active {
  //   transition: width height .3s;
  // }
</style>

