<template>
	<div class="sidebar">
		<ul v-if="inters.length && opened" class="sidebar-interlocutors">
			<li v-for="(inter, i) in inters" :key="i" :class="{me: inter.uniq === user.uniq}">
				<i>{{inter.username}}</i>
				<!-- <i class="status">Typing...</i> -->
			</li>
		</ul>
		<h4 v-else class="sidebar-no-inters">
			<i v-if="opened">No interlocutors</i>
			<i v-else>No connection</i>
		</h4>
	</div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
	data: () => ({
		opened: true,
		inters: []
	}),

	computed: {
		...mapGetters(['user', 'socket'])
	},

	created() {
		this.socket.addEventListener('message', msg => {

			const {type, payload} = JSON.parse(msg.data)

			if (type === 'ONLINE') {
				this.inters = payload
			} else if (type === 'UPDATE_ONLINE') {
				this.inters = payload
			}

		})
	}
}
</script>

<style lang="scss" scoped>
	.sidebar {
		flex: 1;
		height: 100vh;
		box-shadow: 0 0 20px -0px rgba(0, 0, 0, .2);
		// background: linear-gradient(45deg, #D74177, #D74177);


		&-interlocutors {
			li {
				font-family: 'Operator';
				padding: 20px 10px;
				display: flex;
				justify-content: space-between;
				&.me {
					background: rgba(65, 215, 119, .3);
				}
			}
		}

		&-no-inters {
			display: flex;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
		}
	}
</style>