<template>
  <li :class="{'area-history-msg': true, 'my': my}">
    <i v-if="!my" class="area-history-msg-sender">{{msg.username}}</i>
    <div class="area-history-msg-details">
      <i class="area-history-msg-details-text">{{msg.msg}}</i>
      <i class="area-history-msg-details-time">{{msg.time}}</i>
    </div>
  </li>
</template>

<script>
export default {
  props: ['my', 'msg']
}
</script>